.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 20px;

  .input {
    align-items: flex-start;

    padding: 16px 14px;

    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #7a7364;

    border: 1px solid #565147;
    border-radius: 4px;
    outline: none;
  }

  .input_label {
    margin: 6px 0;

    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #beae97;
  }
}
