.header {
  display: flex;
  align-items: center;

  width: 1300px;
  height: 132px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  display: flex;
  align-items: center;
  height: 132px;
  margin: 0 auto;

  &_list {
    display: flex;
  }

  &_item {
    position: relative;

    padding: 0 25px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #beae97;
    text-transform: capitalize;
    list-style: none;
  }

  &_link {
    color: #beae97;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.active {
  text-decoration: underline;
}
