@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap';

.button {
  cursor: pointer;

  padding: 12px 30px;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;

  background: #2b2825;
  border: 1px solid #d6b88d;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgb(184 164 142 / 40%);

  transition: 0.2s linear;

  &-caption {
    color: transparent;
    background: linear-gradient(118deg, #c09e6c 0%, #ffebcc 42.62%, #bf936b 100%);
    background-clip: text;
    /* stylelint-disable-next-line */
    -webkit-background-clip: text;
  }

  &:hover {
    background: linear-gradient(144deg, #c09e6c 0%, #ffebcc 42.62%, #bf936b 100%);
    transition: 0.2s linear;

    .button-caption {
      color: #3c3428;
    }
  }
}
